!.gitignore
.env
.idea
__pycache__
*.pyc
*__pycache__*
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.zip
resources
training_data
validation_data
primer_training_data
primer_validation_data
flinty_black_white
*.hdf5